body {
  padding: 0;
  margin: 0;
  background: #f3f4f6;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap:wrap;
}
.card {
  background: rgba(255, 221, 46, 0.45);
  border-radius: 16px;
  border-style: solid;
  border-color: #ffdc30;
  width: 275px;
  position: relative;
  overflow: hidden;
}
.card-header-image {
  width: 95%;
  height: 200px;
  padding: 0px 5px 0px 6px;
}
.card-name {
  text-align: left;
  color: black;
  font-size: 25px;
  top: 24px;
  left: 24px;
}
.card-hp {
  text-align: center;
  color: red;
  font-size: 25px;
  top: 24px;
  left: 24px;
}
.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.card-type {
  font-size: 20px;
}
.card-power-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-power-two {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info-cost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-body {
  margin-top: 16px;
  padding: 16px;
}
.card-user {
  padding: 16px;
}
.edit a{
  text-decoration: none;
  color: #00B7FF
}
.button {
  display: block;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-size: 14px;
  line-height: 1.25rem;
}
.button.save {
  background: #155E75;
  color: white;
  border: 1px solid #164E63;
}
.add-button-row {
  display: flex;
  justify-content: flex-start;
}
.category {
  color: #6b7280;
  font-size: 18px;
}
.category {
  color: #6b7280;
  font-size: 18px;
}
.card-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}